<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Mykey" value="MyValue"/>
  </appSettings>
  <connectionStrings>
    <add connectionString="Data Source=ServerName;Initial Catalog=DataBaseName;Integrated Security=SSPI;" name="TestCnxString"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
